<h1>Catálogos</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Tipo</th>
    </tr>
  </thead>
  <tbody>
	<% @catalogues.each do |catalogue| %>
    <tr>
      <td><%= link_to catalogue.catalogue_type, products_by_catalogue_path(catalogue) %></td>
    </tr>
  <% end %>
  </tbody>
</table>