<% if flash[:notice] %>
	<div class="alert alert-success">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	<%= flash[:notice] %>
	</div>
<% end %>


<h1>Lista de Produtos</h1>
<div id="products">
  <%= render :partial => 'products', :locals => {:products => @products} %>
</div>
