<h1>Lista de Produtos do Catálogo <%= @catalogue.catalogue_type %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
    </tr>
  </thead>
  <tbody>
	<% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>